<!DOCTYPE html >
<html>
<head>
<meta charset="utf-8">
<title>AutoDeploy-CIMS</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" href="plugins/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="css/global.css" media="all">
<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">

</head>

<body>
	<div class="layui-layout layui-layout-admin" style="border-bottom: solid 5px #1aa094;">
		<div class="layui-header header header-demo">
			<div class="layui-main">
				<div class="admin-login-box">
					<a class="logo" style="left: 0;" href="http://beginner.zhengjinfan.cn/demo/beginner_admin/"> <span style="font-size: 21px;">AutoDeploy-CIMS</span>
					</a>
					<div class="admin-side-toggle">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</div>
					<div class="admin-side-full">
						<i class="fa fa-life-bouy" aria-hidden="true"></i>
					</div>
				</div>
				<ul class="layui-nav admin-header-item">
					<li class="layui-nav-item"><a href="javascript:;" class="admin-header-user"> <img src="images/0.jpg" /> <span>${CURRENT_NICK_NAME}</span>
					</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:void(0)" onclick="userInfoPage()"><i class="fa fa-user" aria-hidden="true"></i> 个人信息</a>
							</dd>
							<dd id="lock">
								<a href="javascript:void(0)" onclick="openChangePwd()"> <i class="fa fa-lock" aria-hidden="true"
									style="padding-right: 3px; padding-left: 1px;"></i> 修改密码
								</a>
							</dd>
							<dd>
								<a href="javascript:void(0)" onclick="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
							</dd>
						</dl></li>
				</ul>
			</div>
		</div>
		<div class="layui-side layui-bg-black" id="admin-side">
			<div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side"></div>
		</div>
		<div class="layui-body" style="bottom: 0; border-left: solid 2px #1AA094;" id="admin-body">
			<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
				<ul class="layui-tab-title">
					<li class="layui-this"><i class="fa fa-desktop" aria-hidden="true"></i> <cite>我的桌面</cite></li>
				</ul>
				<div class="layui-tab-content" style="min-height: 150px; padding: 0px 0 0 0;">
					<div class="layui-tab-item layui-show">
						<iframe src="index/main.html"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-footer footer footer-demo" id="admin-footer">
			<div class="layui-main">
				<p>2017-2020 &copy; auto-deploy 版权所有 闽ICP备12024298号</p>
			</div>
		</div>
		<div class="site-tree-mobile layui-hide">
			<i class="layui-icon">&#xe602;</i>
		</div>
		<div class="site-mobile-shade"></div>
		<form action="/logout.do" method="post" class="logout-form">
			<input type="hidden" name="${_csrf.parameterName}" id="${_csrf.parameterName}" value="${_csrf.token}" />
		</form>
	</div>
	<!-- 修改密码窗口 -->
	<div style="padding: 10px; display: none;" id="win-change-pwd">
		<form class="layui-form layui-form-pane" id="change-pwd-form">
			<div class="layui-form-item">
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
				<label class="layui-form-label">原密码</label>
				<div class="layui-input-block">
					<input type="password" name="oldPwd" id="oldPwd" lay-verify="required" autocomplete="off" placeholder="原密码" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">新密码</label>
				<div class="layui-input-block">
					<input type="password" name="newPwd" id="newPwd" lay-verify="required" autocomplete="off" placeholder="新密码" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">新密码确认</label>
				<div class="layui-input-block">
					<input type="password" name="newPwd2" id="newPwd2" lay-verify="newPwd2" autocomplete="off" placeholder="新密码确认" class="layui-input">
				</div>
			</div>
			<div class="layui-input-block" style="text-align: right; margin-top: 15px;">
				<button class="layui-btn layui-btn-small" lay-submit="" lay-filter="form-change-submit">确定修改</button>
				<button type="reset" class="layui-btn layui-btn-small layui-btn-primary">重置</button>
			</div>
		</form>
	</div>
</body>
<script type="text/javascript" src="plugins/layui/layui.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/tool.js"></script>
<script type="text/javascript" src="ws/sockjs.min.js"></script>
<script type="text/javascript" src="ws/stomp.min.js"></script>
<script type="text/javascript" src="ws/websocket.js"></script>
<script>
	layui.use([ 'form', 'layer' ], function() {
		var $ = layui.jquery, layer = layui.layer;
		var form = layui.form();
		//表单
		form.verify({
			newPwd2 : function(value) {
				if (value != $("#newPwd").val()) {
					return "两次输入的密码不一致";
				}
			}
		});
		//监听提交
		form.on('submit(form-change-submit)', function(data) {
			tool.post("index/doChangePwd", $("#change-pwd-form").serialize(), postCallBack, false);
			return false;
		});

		layer.open({
			title : "系统消息",
			shade : false,
			//time : 10000,
			offset : 'rb',
			content : '传入任意的文本或html' //这里content是一个普通的String
		});

	});
	function postCallBack(retMsg) {
		if (retMsg.code == 0) {
			tool.success(retMsg.message);
		} else {
			tool.error(retMsg.message);
		}
	}
	function logout() {
		layer.confirm('确定注销 ?', {
			icon : 3,
			title : '提示'
		}, function(index) {
			$(".logout-form").submit();
		});
	}
	function openChangePwd() {
		layer.open({
			title : '修改密码',
			maxmin : true,
			type : 1,
			content : $('#win-change-pwd'),
			area : [ '400px', '260px' ]
		});
	}
	function userInfoPage() {
		parent.tab.tabAdd({
			href : "index/userInfoPage",
			icon : "fa-user",
			title : "个人信息"
		});
	}
	//topicCallback-广播回调，point2pointCallback--点对点回调
	connect(topicCallback, point2pointCallback);
	function topicCallback(d) {

	}
	function point2pointCallback(d) {
		console.log(d.message);
	}
</script>
</html>