<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auto.deploy.dao.mapper.dev.DevBranchMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="auto.deploy.dao.entity.dev.DevBranch">
		<id column="id" property="id" />
		<result column="create_time" property="createTime" />
		<result column="last_update_time" property="lastUpdateTime" />
		<result column="version" property="version" />
		<result column="is_delete" property="isDelete" />
		<result column="last_update_user_id" property="lastUpdateUserId" />
		<result column="last_update_user_name" property="lastUpdateUserName" />
		<result column="create_user_id" property="createUserId" />
		<result column="create_user_name" property="createUserName" />
		<result column="branch_name" property="branchName" />
		<result column="project_id" property="projectId" />
		<result column="project_name" property="projectName" />
		<result column="is_deploy_success" property="isDeploySuccess" />
		<result column="project_status" property="projectStatus" />
		<result column="parent_branch_id" property="parentBranchId" />
		<result column="parent_branch_name" property="parentBranchName" />
		<result column="is_active" property="isActive" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, last_update_time, version, is_delete, last_update_user_id, last_update_user_name, create_user_id, create_user_name, branch_name, project_id, project_name, is_deploy_success, project_status, parent_branch_id, parent_branch_name, is_active
    </sql>

</mapper>
