<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Table</title>
<link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="../css/global.css" media="all">
<link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/table.css" />
</head>

<body>
	<input type="hidden" name="${_csrf.parameterName}" id="${_csrf.parameterName}" value="${_csrf.token}" />
	<div class="admin-main" style="margin: 10px;">

		<blockquote class="layui-elem-quote" style="padding: 5px;">
			<a href="javascript:;" class="layui-btn layui-btn-small" id="add" onclick="getCheckItmes()"> <i class="layui-icon">&#xe608;</i> 添加信息
			</a> <a href="#" class="layui-btn layui-btn-small" id="import"> <i class="layui-icon">&#xe608;</i> 导入信息
			</a> <a href="#" class="layui-btn layui-btn-small"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> 导出信息
			</a> <a href="#" class="layui-btn layui-btn-small" id="getSelected"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> 获取全选信息
			</a> <a href="javascript:;" class="layui-btn layui-btn-small" id="search"> <i class="layui-icon">&#xe615;</i> 搜索
			</a>
		</blockquote>
		<div class="layui-field-box layui-form" style="padding-bottom: 22px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
			<table class="layui-table admin-table">
				<thead>
					<tr>
						<th style="width: 20px;"><input type="checkbox" lay-skin="primary" lay-filter="paging_check-all"></th>
						<th>用户ID</th>
						<th>用户账号</th>
						<th>创建时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="paging-data">
					<script id="paging-script" type="text/html">
					{{each records value index}}
						<tr>
							<td><input type="checkbox" lay-skin="primary" class="check-id" id="{{value.id}}"></td>
							<td>{{value.id}}</td>
							<td>{{value.userName}}</td>
							<td>{{value.createTime}}</td>
							<td><a href="/detail-1" target="_blank" class="layui-btn layui-btn-normal layui-btn-mini">预览</a>  <a href="javascript:;" data-id="1" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a></td>
						</tr>
					{{/each}}
					</script>
				</tbody>
			</table>
		</div>
		<div class="admin-table-page" style="border-width: 0px;">
			<div id="paging-footer" class="page" style="background-color: white; text-align: center;"></div>
		</div>
	</div>
	<script type="text/javascript" src="../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../plugins/layui/lay/modules/laypage.js"></script>
	<script type="text/javascript" src="../plugins/layui/lay/modules/form.js"></script>
	<script type="text/javascript" src="../js/template-web.js"></script>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/tool.js"></script>
	<script>
		var param = new Object();
		param.container = "paging";
		param.pageSize = 2;
		param.url = "../demo/list";
		tool.loadpage(param);

		function getCheckItmes() {
			$(".check-id:checked").each(function() {
				console.log($(this).attr("id"));;
			});
		}
	</script>
</body>

</html>