<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="../../css/global.css" media="all">
<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../css/table.css" />
</head>
<body>
	<input type="hidden" name="${_csrf.parameterName}" id="${_csrf.parameterName}" value="${_csrf.token}" />
	<div class="admin-main" style="margin: 10px;">
		<blockquote class="layui-elem-quote" style="padding: 5px;">
			<form class="layui-form" action="">
				<div class="layui-input-inline">
					<input type="text" name="searchKey" id="searchKey" placeholder="输入角色名称或代码查询" autocomplete="off" class="layui-input"
						style="height: 30px; line-height: 30px;">
				</div>
				<span><@a code="" href="javascript:void(0)" class="layui-btn layui-btn-small" id="" onclick="loadData()" iclass="layui-icon"
					icon="&#xe615;" text="搜索"/></span>
				<div style="float: right;">
					<span><@a code="" href="javascript:void(0)" class="layui-btn layui-btn-small" id="" onclick="openAddWin()" iclass="layui-icon"
						icon="&#xe608;" text="新增"/></span>
				</div>
			</form>
		</blockquote>
		<div class="layui-field-box layui-form" style="padding-bottom: 22px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
			<table class="layui-table admin-table">
				<thead>
					<tr>
						<th style="width: 20px;"><input type="checkbox" lay-skin="primary" lay-filter="paging_check-all"></th>
						<th style="display: none;">角色ID</th>
						<th>角色名称</th>
						<th>角色代码</th>
						<th>是否激活</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="paging-data">
					<script id="paging-script" type="text/html">
					{{each records value index}}
						<tr>
							<td><input type="checkbox" lay-skin="primary" class="check-id" id="{{value.id}}"></td>
							<td style="display: none;">{{value.id}}</td>
							<td>{{value.roleName}}</td>
							<td>{{value.roleCode}}</td>
							<td>{{if value.isActive == 1}}<font color="green">激活</font>{{/if}}{{if value.isActive == 0}}<font color="red">冻结</font>{{/if}}</td>
							<td style="width:170px;">
								<@a code="" href="javascript:void(0)" class="layui-btn layui-btn-mini" id="show-edit" onclick="showEdit('{{value.id}}')" text="编辑"/>
								<@a code="" href="javascript:void(0)" class="layui-btn layui-btn-warm layui-btn-mini" id="show-view" onclick="showView('{{value.id}}')" text="详情"/>
								<@a code="" href="javascript:void(0)" class="layui-btn layui-btn-normal layui-btn-mini" id="show-active" onclick="showAuth('{{value.id}}','{{value.roleName}}')" text="授权"/>
								<!--
								<@a code="" href="javascript:void(0)" class="layui-btn layui-btn-normal layui-btn-mini" id="show-disactive" onclick="showActive()" text="冻结"/>
								-->
								<@a code="" href="javascript:void(0)" class="layui-btn layui-btn-danger layui-btn-mini" id="show-delete" onclick="showDelete('{{value.id}}')" text="删除"/>
							</td>
						</tr>
					{{/each}}
					</script>
				</tbody>
			</table>
		</div>
		<div class="admin-table-page" style="border-width: 0px; z-index: 0;">
			<div id="paging-footer" class="page" style="background-color: white; text-align: center;"></div>
		</div>
	</div>
	<!-- 新增对象窗口 -->
	<div style="padding: 10px; display: none; padding-right: 40px; z-index: 19940200;" id="win-add-object">
		<form class="layui-form layui-form-pane" id="add-object-form">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			<div class="layui-form-item">
				<label class="layui-form-label">角色名称</label>
				<div class="layui-input-block">
					<input type="text" name="roleName" id="roleName" lay-verify="required" autocomplete="off" placeholder="角色名称" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">角色代码</label>
				<div class="layui-input-block">
					<input type="text" name="roleCode" id="roleCode" lay-verify="required" autocomplete="off" placeholder="角色代码" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">是否激活</label>
				<@select dict="IS_ACTIVE" layVerify="required" id="isActive" name="isActive" class="layui-input-block" def=""/>
			</div>
			<div class="layui-input-block" style="margin-top: 15px;">
				<a href="javascript:void(0)" class="layui-btn layui-btn-primary" onclick="layer.closeAll();"><i class="fa fa-backward"></i> 返回</a>
				<div style="float: right;">
					<button class="layui-btn" lay-submit="" lay-filter="form-add-submit">
						<i class="fa fa-save"></i> 保存
					</button>
					<button type="reset" class="layui-btn layui-btn-primary">
						<li class="fa fa-eraser"></li> 重置
					</button>
				</div>
			</div>

		</form>
	</div>
	<!-- 编辑对象窗口 -->
	<div style="padding: 10px; display: none; padding-right: 40px;" id="win-update-object">
		<form class="layui-form layui-form-pane" id="update-object-form">
			<input type="hidden" name="id" id="id">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			<div class="layui-form-item">
				<label class="layui-form-label">角色名称</label>
				<div class="layui-input-block">
					<input type="text" name="roleName" id="roleName" lay-verify="required" autocomplete="off" placeholder="角色名称" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">角色代码</label>
				<div class="layui-input-block">
					<input type="text" name="roleCode" id="roleCode" lay-verify="required" autocomplete="off" placeholder="角色代码" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">是否激活</label>
				<@select dict="IS_ACTIVE" layVerify="required" id="isActive" name="isActive" class="layui-input-block" def=""/>
			</div>
			<div class="layui-input-block" style="margin-top: 15px;">
				<a href="javascript:void(0)" class="layui-btn layui-btn-primary" onclick="layer.closeAll();"><i class="fa fa-backward"></i> 返回</a>
				<div style="float: right;">
					<button class="layui-btn" lay-submit="" lay-filter="form-update-submit">
						<i class="fa fa-save"></i> 保存
					</button>
					<button type="reset" class="layui-btn layui-btn-primary">
						<li class="fa fa-eraser"></li> 重置
					</button>
				</div>
			</div>
		</form>
	</div>
	<!-- 详情对象窗口 -->
	<div style="padding: 10px; display: none; padding-right: 40px;" id="win-view-object">
		<form class="layui-form layui-form-pane" id="view-object-form">
			<input type="hidden" name="id" id="id">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			<div class="layui-form-item">
				<label class="layui-form-label">角色名称</label>
				<div class="layui-input-block">
					<input type="text" name="roleName" id="roleName" lay-verify="required" autocomplete="off" placeholder="角色名称" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">角色代码</label>
				<div class="layui-input-block">
					<input type="text" name="roleCode" id="roleCode" lay-verify="required" autocomplete="off" placeholder="角色代码" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">是否激活</label>
				<@select dict="IS_ACTIVE" layVerify="required" id="isActive" name="isActive" class="layui-input-block" def=""/>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">版本号</label>
				<div class="layui-input-block">
					<input type="text" name="version" id="version" lay-verify="required" autocomplete="off" placeholder="昵称" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">创建时间</label>
				<div class="layui-input-block">
					<input type="text" name="createTime" id="createTime" lay-verify="required" autocomplete="off" placeholder="昵称" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">创建者</label>
				<div class="layui-input-block">
					<input type="text" name="createUserName" id="createUserName" lay-verify="required" autocomplete="off" placeholder="昵称" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">修改时间</label>
				<div class="layui-input-block">
					<input type="text" name="lastUpdateTime" id="lastUpdateTime" lay-verify="required" autocomplete="off" placeholder="昵称" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">修改者</label>
				<div class="layui-input-block">
					<input type="text" name="lastUpdateUserName" id="lastUpdateUserName" lay-verify="required" autocomplete="off" placeholder="昵称"
						class="layui-input">
				</div>
			</div>
			<div class="layui-input-block" style="margin-top: 15px;">
				<a href="javascript:void(0)" class="layui-btn layui-btn-primary" onclick="layer.closeAll();"><i class="fa fa-backward"></i> 返回</a>
			</div>
		</form>
	</div>
	<!-- 授权 -->
	<div id="auth-div" style="display: none; padding-left: 10px; padding-right: 10px;">
		<input type="hidden" name="roleId" id="roleId">
		<div class="layui-field-box layui-form" style="padding-bottom: 22px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
			<table class="layui-table">
				<tbody id="paging2-data">
					<script id="paging2-script" type="text/html">
					{{each records value index}}
						<tr>
							{{if value.autMenu.menuLevel == 1}}<td><input {{if value.isCheck == 1}}checked{{/if}} type="checkbox" flag="1" value="{{value.autMenu.id}}" name="" title="{{value.autMenu.menuName}}" style="height:40px;"></td><td></td>{{/if}}
							{{if value.autMenu.menuLevel == 2}}<td></td><td><input {{if value.isCheck == 1}}checked{{/if}} type="checkbox" flag="1" value="{{value.autMenu.id}}" name="" title="{{value.autMenu.menuName}}" style="height:40px;"></td>{{/if}}
							<td style="width:30px;">{{if value.autMenu.isActive == 1}}<font color="green">激活</font>{{/if}}{{if value.autMenu.isActive == 0}}<font color="red">冻结</font>{{/if}}</td>
							<td>
								{{each value.widgetList value2}}
								<input {{if value2.isCheck == 1}}checked{{/if}} type="checkbox" flag="2" value="{{value2.autWidget.id}}" name="" title="{{value2.autWidget.widgetName}}" style="height:40px;">
								{{/each}}
							</td>
						</tr>
					{{/each}}
					</script>
				</tbody>
			</table>
		</div>
		<div class="admin-table-page" style="border-width: 0px; z-index: 0;">
			<div id="paging2-footer" class="page" style="background-color: white; text-align: center;"></div>
		</div>
	</div>
	<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../../plugins/layui/lay/modules/laypage.js"></script>
	<script type="text/javascript" src="../../js/template-web.js"></script>
	<script type="text/javascript" src="../../js/jquery.js"></script>
	<script type="text/javascript" src="../../js/tool.js"></script>
	<script>
		var pform;
		//添加事件
		layui.use('form', function() {
			pform = layui.form();
			pform.on('select(isActive)', function(data) {
				//alert(data.value);
				//form.render('checkbox');
			});
			//自定义表单校验
			pform.verify({
				checkRepwd : function(value) {
					if (value != $("#add-object-form").find("#userPwd").val()) {
						return "两次输入的密码不一致";
					}
				},
				checkRepwd2 : function(value) {
					if (value != $("#update-object-form").find("#userPwd").val()) {
						return "两次输入的密码不一致";
					}
				}
			});
			//监听新增提交
			pform.on('submit(form-add-submit)', function(data) {
				tool.post("../autRole/add", $("#add-object-form").serialize(), postCallBack, false);
				return false;
			});
			//监听新增提交
			pform.on('submit(form-update-submit)', function(data) {
				tool.post("../autRole/update", $("#update-object-form").serialize(), postCallBack, false);
				return false;
			});
			//勾选监听
			pform.on('checkbox', function(data) {
				//tool.post("../autRole/update", $("#update-object-form").serialize(), postCallBack, false);
				var isCheck = data.elem.checked ? 1 : 0;
				var id = data.value;
				var type = $(data.elem).attr("flag");
				var roleId = $("#auth-div #roleId").val();
				var _csrf = $("#_csrf").val();
				var param = "_csrf=" + _csrf + "&isCheck=" + isCheck + "&id=" + id + "&type=" + type + "&roleId=" + roleId;
				tool.post("../autRole/setAuth", param, function(retMsg) {
				}, true);
				return false;
			});
			//初始化出发数据加载
			loadData();
		});
		//加载数据
		function loadData() {
			var param = new Object();
			param.container = "paging";
			param.pageSize = 10;
			param.url = "../autRole/list";
			param.roleName = $("#searchKey").val();
			tool.loadpage(param);
		}
		//获取勾选数据id
		function getCheckItmes() {
			$(".check-id:checked").each(function() {
				//console.log($(this).attr("id"));
				;
			});
		}
		//打开新增对象窗口
		function openAddWin() {
			var index = layer.open({
				title : '新增',
				maxmin : false,
				type : 1,
				content : $('#win-add-object')
			});
			layer.full(index);
		}
		//新增对象回调
		function postCallBack(retMsg) {
			if (retMsg.code == 0) {
				tool.success(retMsg.message);
				loadData();
			} else {
				tool.error(retMsg.message);
			}
		}
		//编辑对象
		function showEdit(id) {
			var object = tool.getById("../autRole/getById", id);
			for ( var key in object) {
				$("#update-object-form").find("#" + key).val(object[key]);
			}
			$("#update-object-form").find("#userPwd2").val(object.userPwd);
			var index = layer.open({
				title : '编辑',
				maxmin : false,
				type : 1,
				content : $('#win-update-object')
			});
			pform.render();
			layer.full(index);
		}
		//详情对象
		function showView(id) {
			var object = tool.getById("../autRole/getById", id);
			for ( var key in object) {
				$("#view-object-form").find("#" + key).val(object[key]);
			}
			$('#view-object-form :input').attr("disabled", "disabled");
			var index = layer.open({
				title : '详情',
				maxmin : false,
				type : 1,
				content : $('#win-view-object')
			});
			pform.render();
			layer.full(index);
		}
		//删除对象
		function showDelete(id) {
			layer.confirm('确定删除 ?', {
				icon : 3,
				title : '提示'
			}, function(index) {
				var retMsg = tool.deleteById("../autRole/delete", id)
				if (retMsg.code == 0) {
					tool.success(retMsg.message);
					loadData();
				} else {
					tool.error(retMsg.message);
				}
			});
		}
		//角色授权
		function showAuth(roleId, roleName) {
			$("#auth-div #roleId").val(roleId);
			var param = new Object();
			param.container = "paging2";
			param.pageSize = 100;
			param.url = "../autRole/menuWidgetList";
			param.roleId = roleId;
			tool.loadpage(param);
			var index = layer.open({
				title : "【" + roleName + "】授权",
				maxmin : false,
				type : 1,
				content : $('#auth-div')
			});
			pform.render();
			layer.full(index);
		}
	</script>
</body>

</html>