<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auto.deploy.dao.mapper.aut.AutMenuMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="auto.deploy.dao.entity.aut.AutMenu">
		<id column="id" property="id" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="version" property="version" />
		<result column="is_delete" property="isDelete" />
		<result column="menu_code" property="menuCode" />
		<result column="menu_level" property="menuLevel" />
		<result column="menu_name" property="menuName" />
		<result column="parent_code" property="parentCode" />
		<result column="menu_icon" property="menuIcon" />
		<result column="menu_href" property="menuHref" />
		<result column="menu_rank" property="menuRank" />
		<result column="is_active" property="isActive" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, version, is_delete, menu_code, menu_level, menu_name, parent_code, menu_icon, menu_href, menu_rank, is_active
    </sql>

</mapper>
