<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auto.deploy.dao.mapper.aut.AutUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="auto.deploy.dao.entity.aut.AutUser">
		<id column="id" property="id" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="version" property="version" />
		<result column="is_delete" property="isDelete" />
		<result column="user_pwd" property="userPwd" />
		<result column="user_name" property="userName" />
		<result column="is_active" property="isActive" />
		<result column="is_account_expired" property="isAccountExpired" />
		<result column="is_account_locked" property="isAccountLocked" />
		<result column="is_credentials_expired" property="isCredentialsExpired" />
		<result column="nick_name" property="nickName" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, version, is_delete, user_pwd, user_name, is_active, is_account_expired, is_account_locked, is_credentials_expired, nick_name
    </sql>

</mapper>
