<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>自动化持续集成系统-登录</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="css/style.css" />

<style>
body {
	height: 100%;
	background: #16a085;
	overflow: hidden;
}

canvas {
	z-index: -1;
	position: absolute;
}
</style>
<script src="js/jquery.js"></script>
<script src="js/Particleground.js"></script>
</head>
<body>
	<form action="/login.do" method="post">
		<dl class="admin_login">
			<dt>
				<strong>自动化持续集成系统</strong> <em>continuous integration ms</em>
			</dt>
			<dd class="user_icon">
				<input type="text" placeholder="账号" class="login_txtbx" name="loginUserName" id="loginUserName" />
			</dd>
			<dd class="pwd_icon">
				<input type="password" placeholder="密码" class="login_txtbx" name="loginUserPwd" id="loginUserPwd" /> <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			</dd>
			<dd class="val_icon" style="background-color: #5cbdaa;">
				<div class="checkcode" style="background-color: #5cbdaa;">
					<input type="text" id="J_codetext" placeholder="验证码" maxlength="5" class="login_txtbx" name="loginValidateCode"> <img id="validateCode" src="validateCode/codeImg.html">
				</div>
				<input type="button" value="刷新验证码" class="ver_btn" onClick="createCode();">
			</dd>
			<dd>
				<div style="margin-top: 12px; color: white;">
					<table style="width: 100%;">
						<tr>
							<td><input type="checkbox" id="loginRememberMe" name="loginRememberMe" style="width: 19px; height: 19px; vertical-align: middle;"> 下次自动登录</td>
							<td style="text-align: right; color: red; font-weight: bold;" id="message">${Session.SPRING_SECURITY_LAST_EXCEPTION!""}</td>
						</tr>
					</table>
				</div>
			</dd>
			<dd>
				<input type="submit" value="立即登陆" class="submit_btn" />
			</dd>
			<dd>
				<p>© 2017-2020 auto-deploy 版权所有</p>
				<p>闽ICP备12024298号</p>
			</dd>
		</dl>
	</form>
</body>
<script type="text/javascript">
	$(document).ready(function() {
		//粒子背景特效
		$('body').particleground({
			dotColor : '#5cbdaa',
			lineColor : '#5cbdaa'
		});
		//测试提交，对接程序删除即可
		$(".submit_btn").click(function() {
			var loginUserName = $("#loginUserName").val();
			var loginUserPwd = $("#loginUserPwd").val();
			var loginValidateCode = $("#J_codetext").val();
			if ($.trim(loginUserName) == "") {
				$("#message").text("账号不能为空");
				return false;
			}
			if ($.trim(loginUserPwd) == "") {
				$("#message").text("密码不能为空");
				return false;
			}
			if ($.trim(loginValidateCode) == "") {
				$("#message").text("验证码不能为空");
				return false;
			}
			return true;
		});
	});
	function createCode() {
		var random = Math.random();
		var src = "validateCode/codeImg.html?random=" + random;
		$("#validateCode").attr("src", src);
	}
</script>
</html>
