package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 * 
 * @描述：${table.comment}(服务类)
 * 
 * @作者：${author}
 * 
 * @时间: ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {
	
}
